<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <b>{{ post.title }}</b>
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <a
        mat-button
        color="primary"
        [routerLink]="['/edit', post.id]"
        routerLinkActive="router-link-active"
        >შეცვლა</a
      >
      <button mat-button color="warn" (click)="onDelete(post.id)">წაშლა</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="posts.length <= 0" class="info-text">პოსტები არ არის დამატებული</p>
